.vertical-center {

    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
